<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @registration.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @registration.last_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @registration.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @registration.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @registration.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @registration.state %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @registration.phone_number %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
